.body {
  overflow: hidden;
}

.title {
  margin: 15px 0 auto;
  font-size: 2rem;
  font-weight: 700;
  color: #000;
}

/* 第一種(第三種沿用) */
.imgGroup {
  margin: 0;
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-top: 2%;
}

.stock2317 {
  width: 40%;
  height: 80%;
  border-radius: 2%;
  position: relative;
  overflow: hidden;
  transition: width .3s, height .3s .3s;
}

.stock2317::before {
  content: "";
  background-image: url("../../../../assets/image/tiger.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .4;
}

.stock2317:hover{
  width: 50%;
  height: 90%;
  cursor: pointer;
}

.stock2317:hover::before{
  opacity: 1;
}

.stock2317:hover .stock{
  color: lightgoldenrodyellow;
}

.stock2603 {
  width: 40%;
  height: 80%;
  border-radius: 2%;
  position: relative;
  overflow: hidden;
  transition: width .3s, height .3s .3s;
}

.stock2603::before {
  content: "";
  background-image: url("../../../../assets/image/dragon.jpg");
  background-repeat: no-repeat;
  background-size: 105%;
  background-position-x: -8px;
  background-position-y: -160px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .4;
}

.stock2603:hover{
  width: 50%;
  height: 90%;
  cursor: pointer;
}

.stock2603:hover::before{
  opacity: 1;
}

.stock2603:hover .stock{
  color: lightgoldenrodyellow;
}

.stock {
  display: block;
  width: fit-content;
  height: fit-content;
  font-size: 145px;
  font-weight: 900;
  color: black;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* 第二種 */
/* .newImgGroup {
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: space-evenly;
}

.img_2317 {
  background: transparent;
  background-image: var(--background);

  width: 60%;
  margin: 0 auto 0 auto;
  border-radius: 25px;
  padding-left: 5%;
  padding-right: 5%;
}

.img_2603 {
  background: transparent;
  background-image: var(--background);
  width: 60%;
  height: 188.55px;
  margin: 0 auto 0 auto;
  border-radius: 25px;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_2603 img {
  width: 100%;
  padding-bottom: 15%;
} */

/* 第三種 */
.container_img_2317 {
  max-width: 100%;
  padding: 0 3% 0 3%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: all .3s .3s;
  opacity: 0;
}

.container_img_2317 .img_2317 {
  position: relative;
}

.stock2317:hover .container_img_2317 {
  opacity: 1;
}

.stock2317:hover .container_img_2317::before {
  content: '';
  background-image: var(--background);
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: .9;
}

.container_img_2603 {
  max-width: 100%;
  height: 130px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  transition: all .3s .3s;
  opacity: 0;
}

.container_img_2603 .img_2603 {
  position: relative;
  width: 100%;
  transform: translateY(-45%);
}

.stock2603:hover .container_img_2603 {
  opacity: 1;
}

.stock2603:hover .container_img_2603::before {
  content: '';
  background-image: var(--background);
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: .9;
}
