<div class="body">
    <!-- 第一種 -->
    <!-- <h1 class="title">請選擇一檔股票</h1>
    <div class="imgGroup" >
      <div class="stock2317" [routerLink]="'/home/2317'">
        <h1 class="stock">鴻海</h1>
      </div>
      <div class="stock2603" [routerLink]="'/home/2603'">
        <h1 class="stock">長榮</h1>
      </div>
    </div> -->

    <!-- 第二種 -->
    <!-- <div class="newImgGroup">
      <div class="img_2317">
        <img src="../../../../assets/image/2317.svg" alt="鴻海ㄉlogo">
      </div>
      <div class="img_2603">
        <img src="../../../../assets/image/2603_2.png" alt="長榮ㄉlogo">
      </div>
    </div> -->

    <!-- 第三種 -->
    <h1 class="title">請選擇一檔股票</h1>
    <div class="imgGroup" >
      <div class="stock2317" [routerLink]="'/home/2317'">
        <h1 class="stock">鴻海</h1>
        <div class="container_img_2317">
          <img class="img_2317" src="../../../../assets/image/2317.svg" alt="鴻海ㄉlogo">
        </div>
      </div>
      <div class="stock2603" [routerLink]="'/home/2603'">
        <h1 class="stock">長榮</h1>
        <div class="container_img_2603">
          <img class="img_2603" src="../../../../assets/image/2603_2.png" alt="長榮ㄉlogo">
        </div>
      </div>
    </div>
</div>
