*{
  padding: 0;
  margin: 0;
}

.container_chart {
  width: 100%;
  /* width: 90%; */
  height: 100vh;
  margin: 0 auto;
  padding-top: 10vh;
  background: #fff;
  /* background-image: linear-gradient(to top, #c65c44, #b75444, #a74c43, #974542, #873e3f, #7d3a3f, #73363e, #68333d, #60313f, #592f3f, #502e3f, #482c3e); */
  /* background-image: radial-gradient(circle, #c65c44, #b75444, #a74c43, #974542, #873e3f, #7c363f, #702f3f, #63293e, #552241, #441d42, #2f1942, #141740); */
  /* background-image: linear-gradient(to left top, #c0c0c0, #d6cbd2, #f4d5d5, #ffe4cd, #fffacd); */
  background-image: var(--background);
}

.container-chart-wrapper {
  width: 95%;
  height: 85vh;
  /* margin: 5% auto 0 auto; */
  margin: 7.5px auto 0 auto;
  /* padding-bottom: 5%; */
  background-color: #696969;
  /* background-color: #F5F5F5; */
  /* background-color: rgba(256, 256, 256, 1); */
  border-radius: 10px;
  /* box-shadow: 0 0 10px var(--main-color); */
  box-shadow: 0 0 20px pink;
  position: relative;

  background: rgba(128, 128, 128, .2);
}

.container-index-and-wordcloud {
  width: 80%;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: transparent;
  padding: 2% 1%;
}

.container-month-daily-index {
  width: 55%;
  height: 85%;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px var(--main-color);
  position: relative;
}

.container-month-wordcloud {
  outline: 1px solid #000;
  width: 43%;
  height: 85%;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px var(--main-color);
  position: relative;
}

.monthWordcloud-title {
  font-size: 2.5rem;
  font-weight: 600;
  text-shadow: 3px 2px var(--main-color) ;
  text-align: center;
  padding-top: 50px;
}

.monthWordcloud {
  margin: 0 auto;
}

.title-container {
  margin-top: 40%;
  margin-left: 51%;
}

.title-container2 {
  margin-top: 31%;
  margin-left: 51%;
}

::ng-deep .mat-spinner circle {
  stroke: var(--main-color);
}


button, .preBtn {
  background: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, .3) !important;
  color: var(--main-color);
  /* background: var(--grey-color); */
  /* color: var(--reverse-grey-text-color); */
  font-weight: 400;
  margin-top: 7px;
  transition: all .3s;
  display: block;
  padding: 0;
}

button:hover, .preBtn:hover {
  background: var(--main-color);
  color: #fff;
  font-weight: 700;
}

.preBtn {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  border-radius: 0 5px 5px 0;
}
