.body {
  background-image: var(--background);
}

.container {
  position: relative;
  padding-top: 20px;
  margin: 0 auto;
  margin-top: 40px;
  width: 80%;
  /* height: 500px; */
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--container-background);
  box-shadow: var(--container-box-shadow);
  /* box-shadow: 1px 1px 3px rgba(0, 0, 0, .3); */
  border-radius: 20px;
}

.container-input {
  width: 60%;
  /* margin-right: 7%; */
  /* position: absolute;
  top: 10%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; */
}

.lebel {
  font-size: 18px;
  font-weight: 900;
  border-bottom: 5px solid var(--main-color);
  margin-bottom: 5px;
  max-width: 100%;
  display: block;
}

button, .preBtn {
  background: rgba(255, 255, 255, .5);
  /* box-shadow: 0 0 1px rgba(0, 0, 0, .3) !important; */
  color: var(--main-color);
  /* background: var(--grey-color); */
  /* color: var(--reverse-grey-text-color); */
  font-weight: 400;
  margin-top: 7px;
  transition: all .3s;
  display: block;
  padding: 0;
}

/* button:hover, .preBtn:hover {
  background: var(--main-color);
  color: #fff;
  font-weight: 700;
} */

.preBtn {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  border-radius: 0 5px 5px 0;
}

.preBtn:hover {
  background: whitesmoke;
  color: var(--main-color);
  font-weight: 700;
  box-shadow: 5px 5px 0px var(--main-color) !important;
  transform: translateX(-3px) translateY(-3px);
}

.preBtn:active {
  transform: translateX(-1px) translateY(-1px);
  box-shadow: 3px 3px 0px var(--main-color) !important;
  font-weight: 700;
}

.nextBtn {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0;
  border-radius: 5px 0 0 5px;
}

.nextBtn:hover {
  background: whitesmoke;
  /* background: var(--main-color); */
  color: var(--main-color);
  font-weight: 700;
  /* box-shadow: -1px 1px 3px rgb(0 0 0 / 30%) !important; */
  box-shadow: -5px 5px 0px var(--main-color) !important;
  transform: translateX(3px) translateY(-3px);
}

.nextBtn:active {
  transform: translateX(1px) translateY(-1px);
  box-shadow: -3px 3px 0px var(--main-color) !important;
  font-weight: 700;
}

.predictBtn:hover {
  background: whitesmoke;
  color: var(--main-color);
  font-weight: 700;
  box-shadow: 0px 6px 0px var(--main-color) !important;
  transform: translateY(-3px);
}

.predictBtn:active {
  transform: translateY(0px);
  box-shadow: 0px 3px 0px var(--main-color) !important;
  font-weight: 700;
}

.container-result {
  width: 30%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 10%; */
  /* margin: 0 auto; */
  transition: all .5s;
  position: relative;
}

.result {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10%;
  transition: all .5s;
}

.container-result .result-title {
  padding-bottom: 6px;
  font-size: 1.5rem;
  font-weight: 600;
  /* text-shadow: 3px 2px var(--main-color) ; */
  text-align: center;
  margin-bottom: 7px;
  border-bottom: 2px solid #000;
  width: 66%;
}

.container-result .result-wrapper {
  width: 66%;
  height: 80px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: whitesmoke;
  box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, .3);
}

.result-wrapper p {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.loading {
  position: absolute;
  right: 5%;
  bottom: 20%;
}



/* .container-input {
  width: 55%;
  height: 100%;
  background-color: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.container-result {
  width: 40%;
  height: 100%;
  background-color: #fff;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, .3);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
} */


