<div class="body">

  <div class="container">
    <mat-icon fontIcon="info"
      class="info"
      [matTooltip]="getTooltipText(1)"
      matTooltipPosition="left"
    ></mat-icon>
    <div class="container-form">
      <form class="queryform" [formGroup]="queryForm" *ngIf="!fromKOL">
        <div class="container-form-author">
          <mat-label class="lebel">選擇作者</mat-label>
          <!-- 輸入作者名稱 -->
          <mat-form-field class="query" appearance="outline" class="author">
            <input type="text"
                   placeholder="輸入作者名稱"
                   matInput
                   formControlName="author"
                   [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="container-form-date">
          <mat-label class="lebel">選擇日期區間</mat-label>
          <!-- 輸入起始日期 -->
          <div class="container-form-date-wrapper">
            <mat-form-field appearance="outline" class="date">
              <input type="text"
                     placeholder="輸入起始日期"
                     matInput
                     [matDatepicker]="picker1"
                     formControlName="startDate">
              <mat-hint>YYYY/MM/DD</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker1" class="dateIcon"></mat-datepicker-toggle>
              <mat-datepicker #picker1 [disabled]="false"></mat-datepicker>
            </mat-form-field>

            <!-- 輸入結束日期 -->
            <mat-form-field appearance="outline" class="date">
              <input type="text"
                     placeholder="輸入結束日期"
                     matInput
                     [matDatepicker]="picker2"
                     formControlName="endDate">
              <mat-hint>YYYY/MM/DD</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker2" class="dateIcon"></mat-datepicker-toggle>
              <mat-datepicker #picker2 color="primary" [disabled]="false"></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <!-- query按鈕 -->
        <!-- <div class="container-form-btn">\\ -->
          <button mat-flat-button (click)="queryWC()" class="submitBtn" style="height: 90%">查詢</button>
        <!-- </div> -->
      </form>
    </div>
    <div echarts [options]="wordcloudOp" class="wordcloud" id="wordcloud" style="width: 500px; height: 500px;">
  </div>
  <button mat-flat-button class="preBtn" style="width: 2%; height: 30%;" (click)="backPrePage()">返回首頁</button>
</div>
