.body {
  background-image: var(--background);
}

.chart1 {
  position: relative;
  padding-top: 20px;
  margin: 0 auto;
  margin-top: 70px;
  width: 90%;
  /* height: 500px; */
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: var(--container-box-shadow);
  border-radius: 20px;
  background: rgba(128, 128, 128, .2);
}

.form {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 8%;
  max-width: 16%;
}

.form .lebel {
  font-size: 18px;
  font-weight: 900;
  border-bottom: 5px solid var(--deco-color);
  margin-bottom: 5px;
}

mat-form-field {
  font-size: 8px;
}

.form mat-select {
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

/* .authorName {
  position: absolute;
  top: -5%;
  left: 0;
  font-weight: 600;
  font-size: 1.25rem;
} */

.container-chart {
  position: absolute;
  bottom: 0;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-chart .chart-title{
  padding-bottom: 6px;
  font-size: 1.5rem;
  font-weight: 600;
  text-shadow: 2px 2px var(--main-color) ;
  text-align: center;
  margin-left: 3.5%;
  /* border-bottom: 2px solid #000; */
  width: 66%;
}

.chart-title span {
  font-weight: 900;
  font-size: 1.5rem;
  /* text-shadow: 3px 2px var(--main-color) ; */
}

button, .preBtn {
  background: rgba(255, 255, 255, .5);

  /* box-shadow: 0 0 1px rgba(0, 0, 0, .3); */
  color: var(--main-color);
  /* background: var(--grey-color); */
  /* color: var(--reverse-grey-text-color); */
  font-weight: 400;
  /* margin-left: 2%; */
  margin-top: 12.5%;
  transition: all .3s;
  display: block;
  padding: 0;
}

button:hover, .preBtn:hover {
  background: whitesmoke;
  color: var(--main-color);
  font-weight: 700;
  box-shadow: 5px 5px 0px var(--main-color) !important;
  transform: translateX(-3px) translateY(-3px);
}

.preBtn {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  border-radius: 0 5px 5px 0;
}

.preBtn:active {
  transform: translateX(-1px) translateY(-1px);
  box-shadow: 3px 3px 0px var(--main-color) !important;
  font-weight: 700;
}


.author_date_info {
  /* max-width: 500px; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: -10.8%;
  left: 0;
  /* transform: translateX(-38rem); */
  transform: translateX(-48rem);
  transition: all .3s;
  /* background: #B0E0E6; */
  background-image: linear-gradient(to left, #bbdcf2, #b0e2f7, #a4e9f9, #9aeff7, #94f5f1, #96f8e6, #9efada, #aafbcc, #bcf9bc, #cff7ae, #e4f3a2, #f8ee9a);
  border-radius: 0 10px 10px 0;
}

.authorName {
  display: inline-block;
  font-weight: 600;
  font-size: 1.25rem;
  min-width: 500px;
  text-align: left;
  padding-left: 200px;
  margin: 0;
}

.arrow_info {
  color: #000;
  margin-top: 1.2px;
}

.author_date_info:hover {
  transform: translateX(-12rem);
  cursor: pointer;
}

.author_date_info_start {
  transform: translateX(-12rem);
  cursor: pointer;
}


