<div class="body">
  <div class="container">
    <div class="card">
      <div class="deco"></div>
      <div class="contain-rank">
        <h2 class="rank">1</h2>
      </div>
      <div class="contain1">
        <i class="fa-solid fa-user-tie"></i>
        <h1 class="authorName">阿土伯</h1>
        <p class="level">Lv：87</p>
      </div>
    </div>
    <div class="card">
      <div class="deco"></div>
      <div class="contain-rank">
        <h2 class="rank">2</h2>
      </div>
      <div class="contain1">
        <i class="fa-solid fa-user-tie"></i>
        <h1 class="authorName">E神</h1>
        <p class="level">Lv：：250</p>
      </div>
    </div>
  </div>
</div>




