.container {
  outline: 1px solid #000;
  max-width: 75%;
  padding: 50px 0;
  margin: auto;
  margin-top: 3%;
  border-radius: 10px;
}

.card {
  outline: 1px solid #000;

  width: 90%;
  height: 200px;
  position: relative;
  margin: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .1);
  transition: all .1s;
  overflow: hidden;
  margin-bottom: 3%;
}

.card:first-of-type::before {
  content: url('../../../assets/image/crown-solid.svg');
  position: absolute;
  width: 5%;
  transform: rotate(-30deg);
  top: 8%;
  left: 18%;
  z-index: 101;
}

.card:hover {
  cursor: pointer;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .6);
  /* box-shadow: 2px 2px 4px rgba(0, 0, 0, .4); */
}

.deco {
  width: 100%;
  height: 25px;
  background-color: var(--main-color);
  position: absolute;
  top: -25px;
  transition: all .2s;
  z-index: 2;
}

.card:hover .deco {
  top: 0;
}

.contain-rank {
  width: 10%;
  height: 100%;
  background-color: red;
  position: absolute;
  z-index: 1;
  box-shadow: 1px 0 2px rgba(0, 0, 0, .4);
}

.rank {
  font-size: 150px;
  position: absolute;
  top: 117px;
  z-index: 100;
}

.contain1 {
  outline: 1px solid #000;

  width: 30%;
  height: 90%;
  position: relative;
  margin-top: 1%;
  margin-left: 15%;
  padding-left: 10%;
}

.fa-user-tie {
  font-size: 125px;
  position: absolute;
  top: 20%;
  bottom: 20%;
  margin: auto;
  left: 20px;
}

.authorName {
  width: 45%;
  font-size: 36px;
  font-weight: 600;
  position: absolute;
  left: 35%;
  top: 20%;
  border-bottom: 5px solid var(--deco-color);
  margin-bottom: 5px;
}

.level {
  width: 30%;
  position: absolute;
  top: 40%;
  right: 34.5%;
  text-align: left;
}
