<div class="body">
  <div class="container_leaderboard">
    <div class="container-leaderboard-wrapper">
      <!-- 選擇日期 -->
      <div class="datepicker">
        <mat-label class="lebel">選擇日期</mat-label>
        <mat-form-field appearance="outline" [formGroup]="formData" class="date">
          <input matInput [matDatepicker]="dp" formControlName="date">
          <mat-hint>YYYY/MM</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="dp" class="dateIcon"></mat-datepicker-toggle>
          <mat-datepicker #dp
                          startView="multi-year"
                          (monthSelected)="setMonthAndYear($event, dp)"
                          panelClass="example-month-picker">
          </mat-datepicker>
        </mat-form-field>
      </div>

      <!-- 標題 -->
      <h1 class="leaderboard-title">{{queryDate + '發文量排行榜'}}</h1>

      <mat-icon fontIcon="info"
                class="info"
                [matTooltip]="getTooltipText()"
                matTooltipPosition="right"
      ></mat-icon>



      <!-- 發文量排行榜 -->
      <div class="leaderboard-rankcard-wrapper">
          <ng-container *ngFor="let kolData of leaderboardData">
            <div class="leaderboard-rankcard" (click)="gokolchart1(kolData['username'])">
              <div class="deco-rank"><h2>{{ kolData['ranking'] }}</h2></div>
              <div class="rankcard-author"><h3>{{ kolData['username'] }}</h3></div>
              <div class="rankcard-postAmount"><h4>發文量：<span>{{ kolData['commentbymonth'] | number }}</span></h4></div>
              <div class="rankcard-hover-info"><h4>按讚數：<span>{{ kolData['SUM(commentlike)'] | number }}</span><br>留言數：<span>{{ kolData['SUM(commentresponse)'] | number}}</span></h4></div>
            </div>
          </ng-container>
        </div>
    </div>
  </div>
  <div class="container_chart">
    <div class="parallax_img">
      <div class="container-index-and-wordcloud">
        <div class="container-month-daily-index">
          <h1 class="monthWordcloud-title">{{queryDate + '加權指數與發文量關係圖'}}</h1>
        </div>
        <div class="container-month-wordcloud">
          <h1 class="monthWordcloud-title">{{queryDate + '文字雲'}}</h1>
          <div echarts [options]="wordcloudOp" *ngIf="finishLoading; else loading" class="monthWordcloud" id="wordcloud" style="width: 90%; height: 80%;">
        </div>
        <ng-template #loading>
          <mat-spinner></mat-spinner>
        </ng-template>
      </div>
    </div>
  </div>
</div>




