.body {
  background-image: var(--background)
}

.container-form-author {
  max-width: 100%;
  margin-right: 7%;
}

.chart1 {
  position: relative;
  padding-top: 20px;
  margin: 0 auto;
  margin-top: 40px;
  width: 90%;
  /* height: 500px; */
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: white; */
  background-color: var(--container-background);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
  border-radius: 20px;
}

.form {
  display: flex;
  flex-direction: row;
  /* flex-direction: column; */
  position: absolute;
  left: 8%;
  max-width: 20%;
}

.form .lebel {
  font-size: 18px;
  font-weight: 900;
  border-bottom: 5px solid var(--deco-color);
  margin-bottom: 5px;
}

.lebel {
  font-size: 18px;
  font-weight: 900;
  border-bottom: 5px solid var(--deco-color);
  margin-bottom: 5px;
  width: 100.5%;
  display: block;
}

input{
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

mat-form-field {
  font-size: 8px;
}

button, .submitBtn, .preBtn {
  background: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, .3);
  color: var(--main-color);
  /* background: var(--grey-color); */
  /* color: var(--reverse-grey-text-color); */
  font-weight: 400;
  margin-left: 2%;
  margin-top: 12.5%;
  transition: all .3s;
  display: block;
  padding: 0;
}

button.submitBtn:hover, .preBtn:hover {
  background: var(--main-color);
  color: #fff;
  font-weight: 700;
}

.preBtn {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  border-radius: 0 5px 5px 0;
}

.form mat-select {
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

.authorName {
  position: absolute;
  top: -5%;
  left: 0;
  font-weight: 600;
  font-size: 1.25rem;
}

.container-chart {
  position: absolute;
  bottom: 0;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-chart .chart-title{
  padding-bottom: 6px;
  font-size: 1.5rem;
  font-weight: 600;
  /* text-shadow: 3px 2px var(--main-color) ; */
  text-align: center;
  margin-left: 3.5%;
  border-bottom: 2px solid #000;
  width: 66%;
}

.chart-title span {
  font-weight: 900;
  font-size: 1.5rem;
  /* text-shadow: 3px 2px var(--main-color) ; */

}



