.body {
  background-image: var(--background);
}

.container {
  position: relative;
  padding-top: 20px;
  margin: 0 auto;
  margin-top: 40px;
  width: 80%;
  /* height: 500px; */
  height: 80vh;
  background-color: var(--container-background);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.container-form {
  width: 100%;
  position: relative;
}

.container-form-author {
  width: 26.2%;
  margin-right: 5%;
}

.container-form-date {
  width: 26.2%;
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
}

.container-form-date-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: -3%;
}

.lebel {
  font-size: 18px;
  font-weight: 900;
  border-bottom: 5px solid var(--deco-color);
  margin-bottom: 5px;
  max-width: 100%;
  display: block;
}

mat-form-field {
  font-size: 8px;
}

input{
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

.date mat-hint {
  font-size: 10px;
}

.date .dateIcon {
  position: absolute;
  top: -5px;
  right: 0;
}

.queryform {
  max-width: 60%;
  display: flex;
  flex-direction: row;
  position: relative;
  padding-left: 8%;
}

.queryform .author {
  margin-right: 3%;
}

.queryform .date {
  margin-left: 3%;
}

.container-form-btn {
  position: relative;
  margin-left: 5%;
  padding: 10px 0 auto;
}

button, .submitBtn, .preBtn {
  background: rgba(255, 255, 255, .5);
  /* box-shadow: 0 0 1px rgba(0, 0, 0, .3); */
  color: var(--main-color);
  /* background: var(--grey-color); */
  /* color: var(--reverse-grey-text-color); */
  font-weight: 400;
  margin-left: 2%;
  margin-top: 4.6%;
  transition: all .3s;
  display: block;
  padding: 0;
}

button.submitBtn:hover, .preBtn:hover {
  background: var(--main-color);
  color: #fff;
  font-weight: 700;
}

.preBtn {
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  border-radius: 0 5px 5px 0;
}

.preBtn:hover {
  background: whitesmoke;
  color: var(--main-color);
  font-weight: 700;
  box-shadow: 5px 5px 0px var(--main-color) !important;
  transform: translateX(-3px) translateY(-3px);
}

.preBtn:active {
  transform: translateX(-1px) translateY(-1px);
  box-shadow: 3px 3px 0px var(--main-color) !important;
  font-weight: 700;
}

.info {
  z-index: 2;
}

.container-result {
  width: 30%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10%;
  transition: all .5s;
  position: relative;
}

.result {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 10%; */
  transition: all .5s;
  position: absolute;
  bottom: 0;
}

.container-result .result-title {
  padding-bottom: 6px;
  font-size: 1.5rem;
  font-weight: 600;
  /* text-shadow: 3px 2px var(--main-color) ; */
  text-align: center;
  margin-bottom: 7px;
  border-bottom: 2px solid #000;
  width: 66%;
}

.container-result .result-wrapper {
  width: 66%;
  height: 80px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, .3);
}

.result-wrapper p {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.articleType {
  padding-top: 16px;
  font-size: 1.5rem;
  font-weight: 900;
}

.loading {
  position: absolute;
  right: 5%;
  bottom: 40%;
}
