<div ngxHideOnScroll class="header" [classNameWhenHidden]="'nav--hidden'" >
  <div class="logo">
    <img src="../../assets/image/logo2.png" alt="logo" [routerLink]="'/choose'">
  </div>
  <div class="deco">
    <div class="stockInfo" *ngIf="ifChoose">
      {{stockName}}
    </div>
  </div>
  <div class="funBtn" id="funBtn" #btn>
    <button mat-flat-button disableRipple class="function" id="kolchart1" [routerLink]="stock + '/kolchart1'">關係圖</button>
    <button mat-flat-button disableRipple class="function" id="wordcloud" [routerLink]="stock + '/wordcloud'">文字雲</button>
    <button mat-flat-button disableRipple class="function" id="predict" [routerLink]="stock + '/predict'">模型預測</button>
  </div>

</div>
