<div class="body">
  <div class="container">
    <div class="author_date_info" id="author_date_info">
      <h3 class="authorName">{{ '作者：' + author}}&emsp;{{ '時間：' + queryDate}}</h3>
      <mat-icon fontIcon="arrow_forward_ios" class="arrow_info"></mat-icon>
    </div>
    <!-- 每日發文量 -->
    <div class="container-daily-post-chart" id="daily-post-chart">
      <mat-label class="chart-title">{{ '每日發文量與收盤價關係圖' }}</mat-label>
      <div echarts
           class="chart" id="chart"
           [options]="options"
           style="width: 90%;height: 80%; margin:0 auto;">
      </div>
      <button mat-flat-button class="preBtn" disableRipple style="width: 2%; height: 30%;" (click)="backPrePage()">返回</button>
    </div>
    <!-- 文字雲 -->
    <div class="container-wordcloud" id="wordcloud">
      <mat-icon fontIcon="info"
        class="info"
        [matTooltip]="getTooltipText(1)"
        matTooltipPosition="left"
      ></mat-icon>
      <mat-label class="chart-title">
        本月文章熱門關鍵字
      </mat-label>
      <ng-container *ngIf="!wcNoData">
        <div echarts [options]="wordcloudOp" class="wordcloud" id="wordcloud" style="width: 90%; height: 76%; margin-bottom: 4%;"></div>
      </ng-container>
      <ng-container *ngIf="wcNoData">
        <div class="wcNoData" style="width: 90%; height: 80%;"><p>資料量不足，導致無結果</p></div>
      </ng-container>
    </div>
  </div>
  <!-- 溫度計 -->
  <div class="container-emotion-bar" id="emotion-bar">
    <div class="row-wrapper">
      <div class="emotionBar_title">本月溫度計</div>
      <div class="container-thermometer">
        <div class="shape-head">
          <div class="middle-deco"></div>
        </div>
        <div class="shape-body">
          <div class="middle-deco">
            <div class="positive flex-jc-center" id='positive' [ngStyle]="{width: posPercent+'%'}"><span>{{posPercent + '%'}}</span></div>
            <div class="negative flex-jc-center" id='negative' [ngStyle]="{width: negPercent+'%'}"><span>{{negPercent + '%'}}</span></div>
            <div class="neutrality flex-jc-center" id='neutrality' [ngStyle]="{width: neuPercent+'%'}"><span>{{neuPercent + '%'}}</span></div>
          </div>
        </div>
      </div>
      <mat-icon fontIcon="info"
        class="info_self"
        [matTooltip]="getTooltipText(2)"
        matTooltipPosition="right"
      ></mat-icon>
    </div>
    <div class="thermometer-desc">
      <div class="desc-pos"><div></div>正向</div>
      <div class="desc-neg"><div></div>負向</div>
      <div class="desc-neu"><div></div>中立</div>
    </div>
  </div>
</div>
