.body {
  background-image: radial-gradient(circle, #ffffff, #fdebfb, #ffd3e3, #ffbdb7, #ffb281, #f9b970, #edc360, #dacd56, #cdd67e, #c9dca4, #cee0c5, #dfe0df);
}

.container {
  position: relative;
  margin: 0 auto;
  margin-top: 70px;
  width: 90%;
  /* height: 500px; */
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
  border-radius: 20px; */
}

.authorName {
  position: absolute;
  top: -5%;
  left: 0;
  font-weight: 600;
  font-size: 1.25rem;
}

.container-daily-post-chart {
  width: 55%;
  height: 100%;
  background-color: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.chart-title {
  padding-bottom: 36px;
  font-size: 2.5rem;
  font-weight: 500;
  /* text-shadow: 3px 2px var(--main-color) ; */
  /* text-shadow: 3px 2px #F8DC8B; */
  text-align: center;
}

.container-wordcloud {
  width: 40%;
  height: 100%;
  background-color: #fff;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, .3);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.container-wordcloud .chart-title {
  padding-bottom: 6px;
  font-size: 1.5rem;
  font-weight: 500;
  /* text-shadow: 3px 2px var(--main-color) ; */
  text-align: center;
  /* margin-left: 3.5%; */
  border-bottom: 2px solid #000;
  width: 80%;
}

.chart-title span {
  font-weight: 900;
  font-size: 1.75rem;
}

/*.lebel {
  font-size: 18px;
  font-weight: 900;
  border-bottom: 5px solid var(--deco-color);
  margin-bottom: 5px;
  max-width: 50%;
  display: block;
}

 mat-form-field {
  font-size: 8px;
}

input{
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

.date mat-hint {
  font-size: 10px;
}

.date .dateIcon {
  position: absolute;
  top: -5px;
  right: 0;
}

.queryform {
  max-width: 50%;
  display: flex;
}

.queryform .author {
  margin-right: 3%;
}

.queryform .date {
  margin-left: 3%;
}

.queryform button.submit {
  background: var(--grey-color);
  color: var(--reverse-grey-text-color);
  margin-left: 2%;
  margin-top: 0.35%;
  transition: all .1s;
}

.queryform button.submit:hover {
  background: var(--main-color);
  color: #fff;
  font-weight: 600;
} */
