.body {
  background-image: radial-gradient(circle, #ffffff, #fdebfb, #ffd3e3, #ffbdb7, #ffb281, #f9b970, #edc360, #dacd56, #cdd67e, #c9dca4, #cee0c5, #dfe0df);
}

.container {
  position: relative;
  margin: 0 auto;
  margin-top: 70px;
  width: 90%;
  /* height: 500px; */
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
  border-radius: 20px; */
}

.authorName {
  position: absolute;
  top: -5%;
  left: 0;
  font-weight: 600;
  font-size: 1.25rem;
}

button, .preBtn {
  background: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, .3);
  color: var(--main-color);
  /* background: var(--grey-color); */
  /* color: var(--reverse-grey-text-color); */
  font-weight: 400;
  margin-left: 2%;
  margin-top: 12.5%;
  transition: all .3s;
  display: block;
  padding: 0;
}

button, .preBtn:hover {
  background: var(--main-color);
  color: #fff;
  font-weight: 700;
}

.preBtn {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  border-radius: 0 5px 5px 0;
}

.container-daily-post-chart {
  width: 55%;
  height: 100%;
  background-color: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.chart-title {
  padding-bottom: 36px;
  font-size: 2.5rem;
  font-weight: 500;
  /* text-shadow: 3px 2px var(--main-color) ; */
  /* text-shadow: 3px 2px #F8DC8B; */
  text-align: center;
}

.container-wordcloud {
  width: 40%;
  height: 100%;
  background-color: #fff;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, .3);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.container-wordcloud .chart-title {
  padding-bottom: 6px;
  font-size: 1.5rem;
  font-weight: 500;
  /* text-shadow: 3px 2px var(--main-color) ; */
  text-align: center;
  /* margin-left: 3.5%; */
  border-bottom: 2px solid #000;
  width: 80%;
}

.chart-title span {
  font-weight: 900;
  font-size: 1.75rem;
}

.container-emotion-bar {
  width: 50%;
  height: 15vh;
  margin: 2% auto;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* 溫度計本人 */
.container-thermometer {
  display: flex;
  align-items: center;
}

.shape-head {
  width: 45px;
  height: 45px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.shape-head .middle-deco {
  width: 30px;
  height: 30px;
  background: red;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.shape-body {
  width: 500px;
  height: 30px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .3);
  border-left: 0;
  margin-left: -5px;
  border-radius: 0 15px 15px 0;
  display: flex;
  align-items: center;
  z-index: 2;
}

.shape-body .middle-deco {
  width: 100%;
  height: 70%;
  background: #fff;
  margin-left: -10px;
  border-radius: 0 15px 15px 0;
  overflow: hidden;
  display: flex;
  justify-content: start;
  align-items: center;
}

.positive {
  width: 0px;
  height: 100%;
  background: red;
  transition: all .5s;
  opacity: 0;
}

.negative {
  width: 0px;
  height: 100%;
  background: blue;
  transition: all .5s .1s;
  opacity: 0;
}

.neutrality {
  width: 0px;
  height: 100%;
  background: green;
  transition: all .5s .15s;
  border-radius: 0 30px 30px 0;
  opacity: 0;
}

.thermometer-desc {
  /* outline: 1px solid #000; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
  height: 25%;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: auto;
}

.desc-pos div {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
}

.desc-neg div {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: blue;
}

.desc-neu div {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: green;
}


/*.lebel {
  font-size: 18px;
  font-weight: 900;
  border-bottom: 5px solid var(--deco-color);
  margin-bottom: 5px;
  max-width: 50%;
  display: block;
}

 mat-form-field {
  font-size: 8px;
}

input{
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

.date mat-hint {
  font-size: 10px;
}

.date .dateIcon {
  position: absolute;
  top: -5px;
  right: 0;
}

.queryform {
  max-width: 50%;
  display: flex;
}

.queryform .author {
  margin-right: 3%;
}

.queryform .date {
  margin-left: 3%;
}

.queryform button.submit {
  background: var(--grey-color);
  color: var(--reverse-grey-text-color);
  margin-left: 2%;
  margin-top: 0.35%;
  transition: all .1s;
}

.queryform button.submit:hover {
  background: var(--main-color);
  color: #fff;
  font-weight: 600;
} */
